mira-synth-live-app {
    .loader {
        display: block;
    }

    .content {
        display: none;
    }

    p {
        padding-top: 20px;

        &:first-child {
            padding-top: 20px;
        }
    }

    msl-redeem-selector {
        display: block;
        padding-bottom: 1rem;
        padding: 30px;

        form {
            padding: 0;
            margin-left: 4px;
        }

        .tts-redeems {
            display: flex;
            flex-wrap: wrap;
        }

        msl-redeem-item {
            display: block;
            width: 120px;
            margin: 5px;

            .msl-twitch-redeem-button {
                display: flex;
                width: 120px;
                height: 120px;
                background-color: black;
                opacity: 0.6;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                img {
                    margin: auto;
                }
            }

            .msl-twitch-redeem-title {
                display: block;
                text-align: center;
                padding: 2px 3px 0 3px;
            }
        }
    }
}